<%= form_for(@trail) do |f| %>
  <% if @trail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trail.errors.count, "error") %> prohibited this trail from being saved:</h2>

      <ul>
      <% @trail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nazwa trasy: " %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <input type="hidden" name="locations" />


      Wyszukaj punkt: <input type="text" id="address" size="15" onkeypress="return addressKeyHandler(event)"/>

    Typ podróży:
          <select id="mode" onchange="updateElevation()">
            <option value="direct" selected="selected">Bezpośrednio</option>
            <option value="driving">Samochodem</option>
            <option value="bicycling">Rowerem</option>
            <option value="walking">Pieszo</option>
          </select>
   </div>
   <div id="links">
     <input type="button" value="Wyczyść punkty" onclick="resetMarkers()" />

    <input name="commit" type="submit" value="Utwórz trasę" onclick="sendData()" />
    <!--<input name="commit" type="button" value="Create Trail" onclick="sendData(); return false;" />-->
  </div>

<div id="map_canvas" style="border: 1px solid black; width:600px; height:500px"></div>

<% end %>
