<article>
	<p><b><%= trail.name %></b><br/>  </p>
    <p>
    <i>Współrzędne: </i></p>
                 <% locations_array(trail.locations).each do |i| %>
                 <p><%= i %></p>
                 <% end %>
    <p><i>Długość trasy: </i><%='%.3f' % trail.distance %> km  </p>
	<p><div>
        <%= link_to 'Zobacz', trail %>
        <%= link_to 'Edytuj', edit_trail_path(trail) %>
        <%= link_to 'Usuń', trail, confirm: 'Jesteś pewien?', method: :delete %>
	</div></p>

</article>