<h1>Listing trails</h1>
<div id="sidebar">

  <%= form_tag trails_path, :method => :get, :id => "trails_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filtruj", :name => nil %>
  </p>
<% end %>

</div>
<div>
	<%= render :partial => 'trail', :collection => @trails %>
</div>
<%= paginate @trails %>


<br />

<%= link_to 'New Trail', new_trail_path %>
