<h1>Trasy</h1>


  <%= form_tag trails_path, :method => :get, :id => "trails_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filtruj", :name => nil %>
  </p>
<% end %>


<div>
	<%= render :partial => 'trail', :collection => @trails %>
</div>
<%= paginate @trails %>


<br />

