<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trail.name %>
</p>

<p>
  <b>Locations:</b>
  <%= @trail.locations %>
</p>

<p>
  <b>Distance:</b>
  <%= @trail.distance %>
</p>

<p>
  <b>Highest:</b>
  <%= @trail.highest %>
</p>

<p>
  <b>Lowest:</b>
  <%= @trail.lowest %>
</p>

<p>
  <b>Uri:</b>
  <%= @trail.uri %>
</p>

<p>
  <b>Img uri:</b>
  <%=image_tag @trail.img_uri %>
</p>

<p>
  <b>Chart uri:</b>
  <%=image_tag @trail.chart_uri %>
</p>

<h2>Add new comment</h2>
<%= render :partial => 'comments/form' %>


<% if @trail.comments.any? %>
  <h2>Comments</h2>
    <%= render :partial => 'comments/comment', :collection => @trail.comments %>
<% end %>

<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
