<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa:</b>
  <%= @trail.name %>
</p>

<p>
  <b>Współrzędne:</b>
  <%= @trail.locations %>
</p>

<p>
  <b>Długość:</b>
  <%='%.3f' % @trail.distance %> km
</p>

<p>
  <b>Najwyższy punkt:</b>
  <%= @trail.highest %> m
</p>

<p>
  <b>Najniższy punkt:</b>
  <%= @trail.lowest %> m
</p>


<p>
  <%=image_tag @trail.img_uri %>
</p>

<p>
  <%=image_tag @trail.chart_uri %>
</p>

<h2>Dodaj komentarz</h2>

<%= render :partial => 'comments/form' %>

<% if @trail.comments.any? %>
  <h2>Komentarze</h2>
    <%= render :partial => 'comments/comment', :collection => @trail.comments %>
<% end %>

<div id="links">
<%= link_to 'Edytuj', edit_trail_path(@trail) %> |
<%= link_to 'Wróć', trails_path %>
</div>